.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.btn-submit {
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid #478ed2;
  background: #478ed2;
  color: #FFFFFF;
}
.input-search {
  margin: 10px;
  border: 1px solid #001529;
  padding: 5px 15px;
  border-radius: 5px;
  width: 300px;
}
.ant-card {
  border: 1px solid #001529;
  border-radius: 5px;
}